[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/ios-cmake"]
	path = hello_imgui_cmake/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "_example_integration"]
	path = _example_integration
	url = https://github.com/pthom/hello_imgui_template.git
