[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/qtimgui"]
	path = external/qtimgui
	url = https://github.com/seanchas116/qtimgui.git
[submodule "cmake/qt-android-cmake"]
	path = hello_imgui_cmake/qt-android-cmake/qt-android-cmake
	url = https://github.com/LaurentGomila/qt-android-cmake.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "external/ios-cmake"]
	path = external/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
